<div class="row">
  <div class="col-md-4">
    <h3>MIS POKEMONS</h3>
  </div>
  <div class="col-md-8">
    <label class="custom-control custom-radio">
      <input (change)="handleChange($event,'all')"
              name="radio" 
              type="radio" 
              class="custom-control-input" 
              checked>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Todos</span>
    </label>
    <label class="custom-control custom-radio">
      <input  (change)="handleChange($event,'favs')"
              name="radio" 
              type="radio" 
              class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Favoritos</span>
    </label>
  </div>
</div>
<hr>

<div  [ngClass]="{'show': showAlert}"
      class="alert alert-danger alert-dismissible fade "
      role="alert">
  <span [innerHTML]="alertMsg"></span>
  <button (click)="hideAlert()"
          type="button" 
          class="close"
          aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
    
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->

<div class="card-columns">
  <div *ngFor="let pokemon of pokemons; let i = index" class="card">
    <!-- <img class="card-img-top" style="width: 130px" src="../../assets/raikou.svg" alt="Card image cap"> -->
    <!-- <img class="card-img-top" src="..." alt="Card image cap">       -->
    <div class="card-body">
      <div class="row">
        <div class="col-md-9">
            <h4 class="card-title">{{pokemon.name | uppercase}}</h4>
        </div>
        <div class="col-md-3">
            <button (click)="toggleFav(pokemon)"
                    [ngClass]="{'btn-warning': pokemon.fav}"
                    type="button" 
                    class="btn btn-block btn-sm fav-btn">
              <i class="material-icons">star_rate</i>
            </button>
        </div>
      </div>
      
      <p class="card-text" [innerHTML]='pokemon.description'></p>
      <p class="card-text">
        <ng-container *ngFor="let type of pokemon?.type">
            <small class="text-muted" [innerHTML]='type'></small>
        </ng-container>
      </p>
      <!-- <button type="button" class="btn btn-outline-warning btn-block">Favorito</button> -->
      <a [routerLink]="['/pokemon/details',pokemon._id]" class="btn btn-outline-primary btn-block">Ver detalles...</a>
      <!-- <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>  -->
      
    </div>
  </div> 
</div>
