<div class="row">
  <div class="col-md-4">
    <h3>MIS POKEMONS</h3>
  </div>

  <div class="col-md-8">

    <label class="custom-control custom-radio">
      <input (change)="handleChange($event,'all')"
              name="radio" 
              type="radio" 
              class="custom-control-input" 
              checked>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Todos</span>
    </label>

    <label class="custom-control custom-radio">
      <input  (change)="handleChange($event,'favs')"
              name="radio" 
              type="radio" 
              class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Favoritos</span>
    </label>

  </div>

</div>
<hr>

<div  [ngClass]="{'show': showAlert, 'notDisplay': !showAlert }"
      class="alert alert-danger alert-dismissible fade "
      role="alert">
  <span [innerHTML]="alertMsg"></span>
  <button (click)="hideAlert()"
          type="button" 
          class="close"
          aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div  [ngClass]="{'notDisplay': pokemons?.length > 0}"
      class="alert alert-info alert-dismissible fade show" 
      role="alert">
  <span style="font-size:20px;">Todavía no tienes ningún pokemon creado <span class="chars">😱</span></span>
  <br/><small>Crea uno ahora pinchando<a [routerLink]="[ '/pokemon/new']" > aqui </a></small> 
</div>


<div class="card-columns">
  <div *ngFor="let pokemon of pokemons; let i = index" class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-9">
            <h4 class="card-title">{{pokemon.name | uppercase}}</h4>
        </div>
        <div class="col-md-3">
            <button (click)="toggleFav(pokemon)"
                    [ngClass]="{'btn-warning': pokemon.fav}"
                    type="button" 
                    class="btn btn-block btn-sm fav-btn">
              <i class="material-icons">star_rate</i>
            </button>
        </div>
      </div>
      
      <p class="card-text" [innerHTML]='pokemon.description'></p>
      <p class="card-text">
        <ng-container *ngFor="let type of pokemon?.type">
            <small class="text-muted" [innerHTML]='type'></small>
        </ng-container>
      </p>

      <a [routerLink]="['/pokemon/details',pokemon._id]" class="btn btn-outline-primary btn-block">Ver detalles...</a>  
    
    </div>
  </div> 
</div>
