<h3>BUSQUEDA: <small>{{searchText}}</small></h3>
<hr>

<ng-container *ngIf="pokemons?.length == 0;then notResults else results"></ng-container>

<ng-template #notResults>
  <div class="alert alert-danger" role="alert">
    No se han encontrado coincidencias para esta búsqueda: <b>{{searchText}}</b>
  </div>
</ng-template>

<ng-template #results>
  <div class="card-columns">
    <div *ngFor="let pokemon of pokemons; let i = index" class="card">
      <div class="card-body">
        <h4 class="card-title" [innerHTML]='pokemon.name'></h4>
        <p class="card-text" [innerHTML]='pokemon.description'></p>
        <p class="card-text">
          <ng-container *ngFor="let type of pokemon.type">
              <small class="text-muted" [innerHTML]='type'></small>
          </ng-container>
        </p>
        <a [routerLink]="['/pokemon/details',pokemon._id]" class="btn btn-outline-primary btn-block">Ver detalles...</a>
      </div>
    </div> 
  </div>
</ng-template>
